$bg-color: #090809;
$primary-color: #DDDBF1;
$secondary-color: #EAC435;
$danger-color: #EF3E36;

* {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button, input[type=checkbox] {
    cursor: pointer;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

body {
    background-color: $bg-color;
    color: $primary-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    &__info {
        color: $danger-color;
        font-weight: bold;
        text-align: center;
        padding-bottom: 1rem;
    }

    &__wrapper {
        width: 25rem;
        padding: 0.5rem;
        border: 1px solid $primary-color;
        border-radius: 1rem;
    }

    &__title {
        text-align: center;
        margin: 1rem;
    }

    &__input, &__add-btn {
        padding: 1rem;
        color: $primary-color;
        background-color: inherit;
        border-radius: 0.5rem;
        border: 1px solid $primary-color;

        &:hover {
            border-color: $secondary-color;
        }
    }

    &__input {
        width: 75%;
    }

    &__add-btn {
        float: right;
    }

    &__item {
        padding: 1rem 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid $primary-color;

        &-value {
            padding-left: 1rem;

            &.completed {
                text-decoration: line-through;
            }
        }

        &-edit, &-delete {
            background-color: inherit;
            color: $primary-color;
            border: none;
            float: right;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}