$bg-color: #090809;
$secondary-color: #DDDBF1;

* {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: $bg-color;
    color: $secondary-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    &__wrapper {
        width: 25rem;
    }

    &__item {
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid $secondary-color;

        &-value {
            padding-left: 2rem;
        }
    }
}